<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://th1.xichengame.cn/en/ios/GroupPraise-mobile-1.0.ipa</string>
				</dict>
				
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.cocos2d.GroupPraise</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>GroupPraise App download</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
